.text-slide-1-container{
    height: inherit;
    width: inherit;
    display: flex;
     position: absolute;
    z-index: 10;
   
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    span{
        color: whitesmoke;
        &.textslide-title{
            font-size: 3em;
            text-align: center;
        }

        &.textslide-subtitle{
            font-size: 1.5em;
            text-align: center;
        }
    }
}